# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
**/node_modules

#Archive files
node

# notes
notes
notes.md

# windows thumbnails
Thumbs.db
**/Thumbs.db