# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# notes
notes

# windows thumbnails
public/img/Thumbs.db
public/img/cards/Thumbs.db