<div id="arcana">
	<style>
		#arcana {
			color:#fff;
			background: linear-gradient(90deg, black, rgba(0,0,0,0.5), black) center center fixed, linear-gradient(rgba(19, 19, 128,0.5), rgba(19, 19, 128,0.5)), url('http://lawlietblack.com/img/cards/{{img}}-card.png') no-repeat center center fixed;
			background-size: cover;
		}
		.btn {
			background-color: rgba(19, 19, 88,1);
		}
	</style>
	<div class="arcana-header" ><img src="http://lawlietblack.com/img/{{img}}.png" class="portrait" alt=""><div class="title"><h1>{{arcana}} Arcana</h1><h2>{{name}}</h2></div>


	</div>

