
</div><!--close #arcana-->
<a 
	href="/" 
	id="return"
	class="animsition-link" 
	data-animsition-out="fade-out-up" 
	data-animsition-out-duration="300"
>
<div class="btn">Back to home</div></a>
</div><!--close animsition div-->
<script>
	$('.animsition').animsition({
		inClass: 'fade-in-up', 
		inDuration: 500,
	});
	$('ul.dates, div.dialog').hide();
	$('.dates-title, .rank-title').click(function(){
		// Show spoilers
		$(this).next().toggle();
	});
</script>
</body>
</html>