

<div id="arcana">
	<div class="arcana-header">
		<img src="#" ng-src="img/{{arcana.img}}.png" class="portrait" alt="">
		<div class="title">
			<h3>{{arcana.arcana}} Arcana</h3>
			<h4>{{arcana.name}}</h4>
		</div>
		<img class="card" alt="{{slink.img}}" src="#" ng-src="img/cards/{{arcana.img}}-card.png">
	</div>

	<div class="notes">{{arcana.notes}}</div>
	<h3 class="rank-title" ng-click="showRank(0)">Rank 1</h3>
	<div class="dialog">
		<h4>{{arcana.rank[0]}}</h4>
	</div>

	<div ng-repeat="level in ranks">
		<h3 class="rank-title" ng-click="showRank($index + 1)">{{level.rank}}</h3>
		<div class="dialog">
			<h4>{{level.notes}}</h4>
			<div ng-repeat="dialog in level.dialog">
				<h4>{{dialog.question}}</h4>
				<ul class="answers">

					<li ng-repeat="answers in dialog.answers">
						<span class='response'>{{answers[0]}}</span>
						<span class='with'>{{answers[2]}}</span>
						<span class='without'>{{answers[1]}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<h3 class='dates-title' ng-show="freedays.length > 0" ng-click="showDaysAvail()">Days Available</h3><ul class='dates days-avail'>
		<li ng-repeat="day in freedays">{{day}}</li>
	</ul>


	<h3 class='dates-title' ng-show="tripdays.length > 0" ng-click="showTripDays()">Bike Ride Days</h3><ul class='dates trip-days'>
		<li ng-repeat="day in tripdays">{{day}}</li>
	</ul>


</div>



	<script>
		$('ul.dates, div.dialog').hide();
		// 	$('body').on('click', '.dates-title, .rank-title', function(){
		// 		// Show spoilers
		// 		console.log("test")
		// 		$(this).next().toggle();
		// });
	</script>
