	
{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
	<div class="datecard" data-animsition-in= 'fade-in-right'
		data-animsition-in-duration="1000">
	<div class="date linetexture"><img src="http://lawlietblack.com/img/weather-{{weather}}.png" alt=""><h1>{{weekDay}}, <span>{{date}}</span></h1></div>
	</div>
	<a 
	href="/days/{{prevDay}}" 
	class="animsition-link" 
	data-animsition-out="fade-out-right" 
	data-animsition-out-duration="300">
		<div class="arrow prev"></div>
	</a>
	<a href="/days/{{nextDay}}" 
		class="animsition-link" 
		data-animsition-out="fade-out-left" 
		data-animsition-out-duration="300">
		<div class="arrow next"></div>
	</a>
	<div class="daycard radial">
		<h1 class="title">After School | {{dayAvail}}</h1>
		{% set notes = dayNotes.split("<br>") %}
		<p class="notes">
			{% for note in notes %}
			{{note}}<br>
		{% endfor %}
		</p>
		{% for spoiler in spoilers %}
			<p class="spoiler">
				<!--Spoiler:-->
				<span>{{spoiler.answer}}</span>
				<button>{{spoiler.question}}</button>
			</p>
		{% endfor %}
		{% if socialLinks.length > 0 %}
			<h2 class='slinks'>Social Links Available</h2><ul class='slinks'>
			{% for link in socialLinks %}
				<li><a href="/arcana/{{link}}"><img src="/img/{{link}}.png" alt=""></a></li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="nightcard radial">
		<h1 class="title">Night | {{nightAvail}}</h1>
		{% set nightnotes = dayNotes.split("<br>") %}
		<p class="notes">
			{% for note in nightnotes %}
				{{note}}<br>
			{% endfor %}
		</p>
		{% if nightLinks.length > 0 %}
			<h2 class='slinks'>Social Links Available</h2>
			<ul class='slinks'>
			{% for link in nightLinks %}
				<li><a href="/arcana/{{link}}"><img src="/img/{{link}}.png" alt=""></a></li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>


{% endblock %}

{% block script %}
<script>
	$('.animsition').animsition({
		inClass: 'fade-in-right', 
		inDuration: 500,
	});
	$('.spoiler span').hide();
	$('button').click(function(){
		// Show spoilers
		$(this).prev().show();
		// Get rid of button
		$(this).remove();
	});
</script>
{% endblock %}