
</div><!--close body div-->
<footer>
	<p>Code and design &copy; Kenneth Black  2015. Images &copy; ATLUS</p>
</footer>
</div><!--close animsition div-->
<script>
	$('.animsition').animsition({
		inClass: 'fade-in-right', 
		inDuration: 500,
	});
	$('.spoiler span').hide();
	$('button').click(function(){
		// Show spoilers
		$(this).prev().show();
		// Get rid of button
		$(this).remove();
	});
	$('#arcana div.tile').click(function(){
		var arcana = $(this).children('.card').prop('alt')
		location.href = "/"+ arcana;
		console.log(arcana);
	});
</script>
</body>
</html>