
	<div class="jumbotron" data-animsition-in= 'fade-in-up'
		data-animsition-in-duration="600"></div>
	<div id="home" class="radial">
		<h1>Home</h1>
		<p>A website guide for Persona 4 Golden. With 23 social links, 69 quests, and countless other things to do in Persona 4, deciding how to spend time can feel overwhelming. My aim with this guide was primarily to show the user which social links are available on any given day so they so they can plan appropriately. My intention was to be as spoiler-lite as possible, but to also include other things they might otherwise miss, such as shopping channel rewards, social link openings, and general advice. I've also included test answers under a spoiler button and social link dialog 'answers' that can help the player maximize social link points.</p>
	</div><!--close home-->
	<div id="updates" class="radial">
		<h1>Updates</h1>
		<h4>August 30th, 2015</h4>
		<p>Rebuilt the site again using AngularJS, running much quicker now.</p>
		<h4>July 28th, 2015</h4>
		<p>Rebuilt the site from the ground up using Express and Swig</p>
		<h4>July 13th, 2015</h4>
		<p>Added seperate pages for the calendar and social links and added a small trivia game, which is still in development.</p>
		<h4>July 6th, 2015</h4>
		<p>Finished Social Link pages including dialog, availablity, and bike ride days for party characters</p>
		<h4>June 29th, 2015</h4>
		<p>Finished SLinks availablity on dates pages and added notes for Boxed Lunches, Bike Trips, and the Shopping Program.</p>
		<h4>June 28th, 2015</h4>
		<p>Added class and exam answers to dates pages as spoilers. </p>
		<h4>June 26th, 2015</h4>
		<p>Added a calendar page, with all the dates available for the game, and added a 404 page as well. Added visual transitions between the pages. Dates completed through November.</p>
		<h4>June 24th, 2015</h4>
		<p>Dates pages completed for first month of the game, including social link options, weather, and events during day and night. Added arrow navigation to transition between dates pages.</p>
		<h4>June 22nd, 2015</h4>
		<p>Working Server, dates pages started</p>
	</div><!--close updates-->
