{% extends 'layout.html' %}


{% block head %}{% endblock %}


{% block title %}{% endblock %}



{% block content %}
	<div class="jumbotron" data-animsition-in= 'fade-in-up'
		data-animsition-in-duration="600"><h1>Persona 4 Golden Guide</h1></div>
	<div id="home" class="radial">
		<h1>Home</h1>
		<p>Welcome to my Persona 4 Golden site! I made this site to be a reference for all the choices you have in Persona 4 Golden. My intent was to make this as spoiler-light as possible, so as to inform the player of the choices they have on any given day without interfering with their experience.</p>
	</div><!--close home-->
	<div id="updates" class="radial">
		<h1>Updates</h1>
		<h2>July 13th, 2015</h2>
		<p>Added seperate pages for the calendar and social links and added a small trivia game, which is still in development.</p>
		<h2>July 6th, 2015</h2>
		<p>Finished Social Link pages including dialog, availablity, and bike ride days for party characters</p>
		<h2>June 29th, 2015</h2>
		<p>Finished SLinks availablity on dates pages and added notes for Boxed Lunches, Bike Trips, and the Shopping Program.</p>
		<h2>June 28th, 2015</h2>
		<p>Added class and exam answers to dates pages as spoilers. </p>
		<h2>June 26th, 2015</h2>
		<p>Added a calendar page, with all the dates available for the game, and added a 404 page as well. Added visual transitions between the pages. Dates completed through November.</p>
		<h2>June 24th, 2015</h2>
		<p>Dates pages completed for first month of the game, including social link options, weather, and events during day and night. Added arrow navigation to transition between dates pages.</p>
		<h2>June 22nd, 2015</h2>
		<p>Working Server, dates pages started</p>
	</div><!--close updates-->
{% endblock %}

{% block script %}{% endblock %}