<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css' >
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' type='text/css'>
	<link rel='stylesheet' href='/js/animsition/animsition.css'>
  <link rel="stylesheet" href="/css/main.css">
  {% block head %}
  {% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
	<script src="/js/animsition/jquery.animsition.min.js" type="text/javascript"></script>
	<title>{% block title %}LawlietBlack | Persona 4 Golden{% endblock %}</title>
	
</head>
<body>
<div class="animsition">
<nav>
	<ul>
		{% block nav %}
		<li class="left"><a class="animsition-link" data-animsition-out="fade-out-up" data-animsition-out-duration="300" href="/">Home</a></li>
		<li class="left"><a class="animsition-link" data-animsition-out="fade-out-up" data-animsition-out-duration="300" href="/calendar">Calendar</a></li>
		<li class="left"><a class="animsition-link" data-animsition-out="fade-out-up" data-animsition-out-duration="300" href="/slinks">Social Links</a></li>
		<li class="right"><a class="animsition-link" data-animsition-out="fade-out-up" data-animsition-out-duration="300" href="/trivia">Trivia</a></li>
		{% endblock %}
	</ul>
</nav>

  {% block content %}{% endblock %}
<footer>
	<p>Code and design &copy; Kenneth Black  2015. Images &copy; ATLUS</p>
</footer>
</div><!--close animsiton div-->
	{% block script %}{% endblock %}
<script>
	
	$('.animsition').animsition({
		inClass: 'fade-in-up', 
		inDuration: 500,
		outClass: 'fade-out-left',
		outDuration: 400
	});

</script>
</body>
</html>