
<nav class="navbar navbar-fluid">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Persona 4 Golden Guide</a>
    </div>
    <ul class="nav navbar-nav navbar-right nav-pills">
      <li><a ng-class="{active: isActive('/') }"href="#/">Home</a></li>
      <li><a ng-class="{active: isActive('/calendar') }"href="#/calendar">Calendar</a></li>
      <li><a ng-class="{active: isActive('/slinks') }" href="#/slinks">Social Links</a></li>
      <li><a ng-class="{active: isActive('/trivia') }" href="#/trivia">Trivia</a></li>
    </ul>
  </div>
</nav>
