
	<div id='arcana'>
			<div class="arcana-header tile" ng-repeat="slink in slinks" ng-click="console.log('test')">
				<img src="#" ng-src="http://lawlietblack.com/img/{{slink.img}}.png" class="portrait" alt="">
				<div class="title">
					<h1>{{slink.arcana}} Arcana</h1>
					<h2>{{slink.name}}</h2>
				</div>
				<img class="card" alt="{{slink.img}}" src="#" ng-src="http://lawlietblack.com/img/cards/{{slink.img}}-card.png">
			</div>
	</div>	

	<script>
		$('#arcana').on('click', 'div.tile', function(){
			var arcana = $(this).children('.card').prop('alt')
			location.href = "#/arcana/"+ arcana;
			console.log(arcana);
		});

	</script>
